.mypanel
{
	background-color: #e6e6e6;
	border: 1px solid #c6c6c6;
	border-top: none;
}

.icon-light, .icon-light2, .icon-light3
{
	background-image: url("../images/house/light.png");
}

.icon-computer
{
	background-image: url("../images/house/pc.png");
}

.icon-tel
{
	background-image: url("../images/house/phone.png");
}

.icon-fridge
{
	background-image: url("../images/house/fridge-icon.png");

}

.menu li 
{
	float: left;
	margin-right: 50px;
	margin-top: 5px;
	height: 44px;
	width: 	44px;
	list-style-type: none;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.map
{
	 border-top: 1px solid #c6c6c6;
}

.map img {
   height: 100%;
   width: 100%;
}

.col-md-5 p {
	font-size: 24px;	
}

table {
	margin-top:45px;
}
ul {
    margin-bottom: 14px;
    list-style: none;
}

#wc {
	display: none;
}

li { width: auto; height: 40px;  margin: 0 0 7px 0;}
.graph0, .graph1, .graph2, .graph3 {height: 100px !important;display:none;}
li a { 
display: block;
width: auto;
height: 40px;
margin: 0 0 8px 0;
background: #F7F5F2 url(../images/house/arrowdown.png) 97% center no-repeat;

font-size: 20px;
color: #333!important;
padding: 5px 0 0 10px;
text-decoration: none!important;
}

.on { 
display: block;
width: auto;
height: 40px;
margin: 0 0 8px 0;
background: #F7F5F2 url(../images/house/arrowup.png) 97% center no-repeat;

font-size: 20px;
color: #333!important;
padding: 5px 0 0 10px;
text-decoration: none!important;
}

#right {
	font-size: 15px;
	margin-top: -37px;
	margin-right: 7px;
	color: #06AB13;
}

li a:hover { background-color: #EFEFEF; }

.orange { border-left: 5px solid #F5876E; }

.blue{ border-left: 5px solid #61A8DC; }

.dark{ border-left: 5px solid #6C7A89; }

.green{ border-left: 5px solid #8EBD40; }

.purple { border-left: 5px solid #988CC3; }

.gold { border-left: 5px solid #F7CA18; }