.modal-title, .modal-body
{
	color: white;
}

.modal-body
{
	font-size: 20px;
}

.modal-title
{
	font-size: 30px;
}

.modal-footer .hour
{
	float: left;
}

.modal-content
{
	-webkit-box-shadow: none;
	box-shadow: none;
}

.car
{
	margin-top: 10px;
}