.store .products-list {
  margin-bottom: 20px; }
  .store .products-list:hover .product {
    transition-property: opacity;
    transition-duration: 0.3s;
    opacity: 0.3; }
    .store .products-list:hover .product:hover {
      transition-property: opacity;
      transition-duration: 0.3s;
      opacity: 1; }
.store .product {
  transition-property: opacity;
  transition-duration: 0.3s;
  opacity: 1;
  display: block;
  height: 0;
  padding-top: 120%;
  position: relative;
  text-align: center;
  color: inherit; }
  .store .product .product-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px; }
  .store .product img {
    max-height: 80%; }
  .store .product .badge {
    position: absolute;
    bottom: 25%;
    right: 0;
    z-index: 150;
    width: 130px;
    height: 130px;
    background: url("../images/icons/leaf.png");
    background-size: cover;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding-top: 48px; }
.store .side-infos {
  font-size: 1.3em; }
  .store .side-infos p {
    margin: 0; }
.store .number {
  font-size: 10em;
  text-align: center;
  margin-top: -20px;
  font-weight: light; }
