html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  color: #333; }

.global-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }

.sidebar {
  transition-property: width;
  transition-duration: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100px;
  background: #2b3e50;
  overflow: hidden; }
  .sidebar.active {
    transition-property: width;
    transition-duration: 0.4s;
    width: 85%;
    width: 320px;
    max-width: 320px; }
  .sidebar .top {
    display: block;
    height: 51px;
    border-bottom: 1px solid #697e8f;
    position: relative;
    cursor: pointer; }
    .sidebar .top .icon {
      cursor: pointer;
      position: absolute;
      right: 0;
      height: 100%;
      width: 50px;
      background-size: 65%;
      background-image: url("../images/icons/hamburger.png");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center; }
  .sidebar .sidebar-content {
    height: calc(100% - 50px);
    position: relative;
    left: 50px; }
    .sidebar .sidebar-content a {
      transition-property: opacity, background;
      transition-duration: 0.4s;
      color: white;
      text-decoration: none;
      display: block;
      width: 100%;
      height: 50px;
      font-size: 1.2em;
      line-height: 50px;
      overflow: hidden;
      opacity: 0.5;
      white-space: nowrap; }
      .sidebar .sidebar-content a:hover, .sidebar .sidebar-content a.active {
        transition-property: opacity, background;
        transition-duration: 0.4s;
        background: #395167;
        opacity: 1; }
      .sidebar .sidebar-content a .menu-icon {
        display: block;
        width: 50px;
        height: 100%;
        display: block;
        float: left;
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: center;
        background-size: 65%; }
      .sidebar .sidebar-content a .link {
        padding-left: 5px; }
    .sidebar .sidebar-content .bottom {
      position: absolute;
      bottom: 0;
      width: 100%; }

.main-content {
  transition-property: left;
  transition-duration: 0.4s;
  position: absolute;
  left: 100px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: calc(100% - 100px); }
  .main-content.sidebar-active {
    transition-property: left;
    transition-duration: 0.4s;
    left: 320px; }
  .main-content .header {
    height: 50px;
    width: 100%;
    background: #2b3e50;
    box-sizing: border-box;
    text-align: right;
    line-height: 50px;
    font-size: 2em;
    color: white;
    padding-right: 5px; }
    .main-content .header .icon {
      width: 50px;
      height: 100%;
      display: block;
      float: right;
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: center;
      background-size: 65%;
      margin-left: 0 20px; }
  .main-content .content {
    background: #e6e6e6;
    height: calc(100% - 50px);
    overflow: auto;
    padding: 20px; }
    .main-content .content .page-header {
      margin-top: 0; }

.icon-home {
  background-image: url("../images/icons/home.png"); }

.icon-user-expert {
  background-image: url("../images/icons/user-expert.png"); }

.icon-user-normal {
  background-image: url("../images/icons/user-normal.png"); }

.icon-user-child {
  background-image: url("../images/icons/user-child.png"); }

.icon-conso {
  background-image: url("../images/icons/suivi-conso.png"); }

.icon-conseils {
  background-image: url("../images/icons/conseils-conso.png"); }

.icon-energy {
  background-image: url("../images/icons/energy.png"); }

.icon-connected {
  background-image: url("../images/icons/connected.png"); }

.icon-store {
  background-image: url("../images/icons/store.png"); }

.icon-chart {
  background-image: url("../images/icons/chart.png"); }

.well,
.list-group {
  color: white; }
