.store
{

	.products-list
	{
		margin-bottom: 20px;

		&:hover
		{
			.product
			{
				transition-property: opacity;
				transition-duration: 0.3s;
				opacity: 0.3;

				&:hover
				{
					transition-property: opacity;
					transition-duration: 0.3s;
					opacity: 1;
				}
			}
		}
	}

	.product
	{
		transition-property: opacity;
		transition-duration: 0.3s;
		opacity: 1;
		display: block;
		height: 0;
		padding-top: 120%;
		position: relative;
		text-align: center;
		color: inherit;

		.product-content
		{
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			padding: 20px;
		}

		img
		{
			max-height: 80%;
		}

		.badge
		{
			position: absolute;
			bottom: 25%; right: 0;
			z-index: 150;
			width: 130px; height: 130px;
			background: url('../images/icons/leaf.png');
			background-size: cover;
			font-size: 2em;
			font-weight: bold;
			text-align: center;
			padding-top: 48px;
		}
	}

	.side-infos
	{
		font-size: 1.3em;

		p
		{
			margin: 0;
		}
	}

	.number
	{
		font-size: 10em;
		text-align: center;
		margin-top: -20px;
		font-weight: light;
	}
}