$dark-blue: #2b3e50;
$medium-dark-blue: #31465a;
$medium-blue: #395167;
$border-blue: #697e8f;

$light-grey: #e6e6e6;

html,
body
{
	width: 100%; height: 100%;
	padding: 0; margin: 0;
	color: #333;
}

.global-container
{
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
	overflow: hidden;
}

.sidebar
{
	transition-property: width;
	transition-duration: 0.4s;
	position: absolute;
	left: 0; top: 0; bottom: 0;
	height: 100%;
	width: 100px;
	background: $dark-blue;
	overflow: hidden;

	&.active
	{
		transition-property: width;
		transition-duration: 0.4s;
		width: 85%;
		width: 320px;
		max-width: 320px;
	}

	.top
	{
		display: block;
		height: 51px;
		border-bottom: 1px solid $border-blue;
		position: relative;
		cursor: pointer;

		.icon
		{
			cursor: pointer;
			position: absolute;
			right: 0;
			height: 100%;
			width: 50px;
			background-size: 65%;
			background-image: url("../images/icons/hamburger.png");
			background-repeat: no-repeat;
			background-position-y: center;
			background-position-x: center;
		}
	}

	.sidebar-content
	{
		height: calc(100% - 50px);
		position: relative;
		left: 50px;

		a
		{
			transition-property: opacity, background;
			transition-duration: 0.4s;
			color: white;
			text-decoration: none;
			display: block;
			width: 100%;
			height: 50px;
			font-size: 1.2em;
			line-height: 50px;
			overflow: hidden;
			opacity: 0.5;
			white-space: nowrap;

			&:hover,
			&.active
			{
				transition-property: opacity, background;
				transition-duration: 0.4s;
				background: $medium-blue;
				opacity: 1;
			}
			.menu-icon
			{
				display: block;
				width: 50px;
				height: 100%;
				display: block;
				float: left;
				background-repeat: no-repeat;
				background-position-y: center;
				background-position-x: center;
				background-size: 65%;
			}
			.link { padding-left: 5px; }
		}
		.bottom
		{
			position: absolute;
			bottom: 0;
			width: 100%;
		}
	}
}

.main-content
{
	transition-property: left;
	transition-duration: 0.4s;
	position: absolute;
	left: 100px; top: 0; right: 0; bottom: 0;
	height: 100%;
	width: calc(100% - 100px);

	&.sidebar-active
	{
		transition-property: left;
		transition-duration: 0.4s;
		left: 320px;
	}

	.header
	{
		height: 50px;
		width: 100%;
		background: $dark-blue;
		box-sizing: border-box;
		text-align: right;
		line-height: 50px;
		font-size: 2em;
		color: white;
		padding-right: 5px;

		.icon
		{
			width: 50px;
			height: 100%;
			display: block;
			float: right;
			background-repeat: no-repeat;
			background-position-y: center;
			background-position-x: center;
			background-size: 65%;
			margin-left: 0 20px;
		}
	}

	.content
	{
		background: $light-grey;
		height: calc(100% - 50px);
		overflow: auto;
		padding: 20px;

		.page-header
		{
			margin-top: 0;
		}
	}
}

.icon-home { background-image: url("../images/icons/home.png"); }
.icon-user-expert { background-image: url("../images/icons/user-expert.png"); }
.icon-user-normal { background-image: url("../images/icons/user-normal.png"); }
.icon-user-child { background-image: url("../images/icons/user-child.png"); }
.icon-conso { background-image: url("../images/icons/suivi-conso.png"); }
.icon-conseils { background-image: url("../images/icons/conseils-conso.png"); }
.icon-energy { background-image: url("../images/icons/energy.png"); }
.icon-connected { background-image: url("../images/icons/connected.png"); }
.icon-store { background-image: url("../images/icons/store.png"); }
.icon-chart { background-image: url("../images/icons/chart.png"); }

.well,
.list-group
{
	color: white;
}